
//---------------------------------------------//
// General Template Styles
//--------------------------------------------//

body {
  color: #1f1f21;
  font-family: 'Hi Melody', cursive;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dosis', sans-serif;
}

.sidebar {
  background-color: black;
  color: #9e9e9e;
}

//------------------------------------------//
// Layout
//-----------------------------------------//

#main {
  display: grid;
  grid-template-columns: 70% 30%;
}

.sidebar {
  grid-column-start: 2;
}

//--------------------------------------------//
// Special Styles - Accessibility
//--------------------------------------------//

.element-invisible {
  display: none;
}



