
//---------------------------------------------//
// General Template Styles
//--------------------------------------------//

body {
  color: #1f1f21;
}

a {
  text-decoration: none;
  color: inherit;
}

.sidebar {
  background-color: black;
}

//------------------------------------------//
// Layout
//-----------------------------------------//

#main {
  display: grid;
  grid-template-columns: 70% 30%;
}

.sidebar {
  grid-column-start: 2;
}

//--------------------------------------------//
// Special Styles - Accessibility
//--------------------------------------------//

.element-invisible {
  display: none;
}



